:root{
    --body-ff: Quicksand, sans-serif;
    --heading-ff: Blinker; 
    --body-background: hsl(0, 0%, 7%);
    --halfpart-background: linear-gradient(
        167deg,
        hsl(0, 0%, 7%) 33%,
        transparent 33%,
        transparent 100% 
        );
    --url-background: url('data:image/svg+xml;utf8,<svg width="80" height="80" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><polygon points="30,0 60,60 0,60" stroke="rgba(114, 92, 173, 0.087)" stroke-width="1.3" fill="none"/><polygon points="0,0 60,0 30,60" stroke="rgba(114, 92, 173, 0.087)" stroke-width="1.3" fill="none"/></svg>');
    --section-border-color: hsl(0, 0%, 100%); 
    --main-fcolor: hsl(0, 0%, 100%);
    --secondary-fcolor: rgb(228, 222, 215);
    --navbar-border-bottom: linear-gradient(
        to right, 
        #456882 0%,
        #578FCA 100%
        );
    --main-half-background: linear-gradient(
        to top, 
        #456882 50%,
        transparent 50%
        );
    --footer-fcolor: #578FCA;
    --fontSizes-3xs: 0.45rem;
    --fontSizes-2xs: 0.62rem;
    --fontSizes-xs: 0.75rem;
    --fontSizes-s: 0.87rem;
    --fontSizes-m: 1rem;
    --fontSizes-l: 1.25rem;
    --fontSizes-xl: 1.50rem;
    --fontSizes-2xl: 1.75rem;
    --fontSizes-3xl: 1.87rem;
    --fontSizes-4xl: 2.25rem;
    --fontSizes-5xl: 2.50rem;
    --fontSizes-6xl: 2.75rem;
    --fontSizes-7xl: 2.87rem;
    --fontSizes-8xl: 3rem;
    --fontWeight-hairline: 100;
    --fontWeight-thin: 200;
    --fontWeight-light: 300;
    --fontWeight-medium: 400;
    --fontWeight-normal: 500;
    --fontWeight-semibold: 600;
    --fontWeight-bold: 700;
    --fontWeight-extrabold: 800;
    --fontWeight-arnold: 900;
    --letterSpacing-tight: -0.05rem;
    --letterSpacing-normal: 0;
    --letterSpacing-wide: 0.1rem;
    --letterSpacing-wider: 0.2rem;
    --letterSpacing-widest: 0.6rem;
    --lineHeight-none: 1;
    --lineHeight-short: 1.25em;
    --lineHeight-normal: normal;
    --lineHeight-tall: 1.50em;
    --lineHeight-taller: 2em;
}

.lightmode{
    --body-background: hsl(0, 0%, 100%);
    --main-fcolor: hsl(0, 0%, 7%);
    --navbar-border-bottom: linear-gradient(
    to right, 
    #EA2F14 0%,
    #FB9E3A 100%);
    --halfpart-background: linear-gradient(
        167deg,
        hsl(0, 0%, 100%) 33%,
        transparent 33%,
        transparent 100% 
        );
    --url-background: url('data:image/svg+xml;utf8,<svg width="80" height="80" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><polygon points="30,0 60,60 0,60" stroke="rgba(114, 92, 173, 0.087)" stroke-width="1.3" fill="none"/><polygon points="0,0 60,0 30,60" stroke="rgba(114, 92, 173, 0.087)" stroke-width="1.3" fill="none"/></svg>');
    --section-border-color: hsl(0, 0%, 7%);
    --main-half-background: linear-gradient(
    to top, 
    #FB9E3A 50%,
    transparent 50%);
    
    --footer-fcolor: #EA2F14;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background:var(--body-background);
    font-family: var(--body-ff);
}

.site{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
    background: var(--url-background);
}

#gif-cursor {
    position: absolute;
    pointer-events: none;
    z-index: -1;
}

/***** HEADER *****/
.header{
    font-family: var(--heading-ff);
    font-size: var(--fontSizes-l);
    font-weight: var(--fontWeight-normal);
    letter-spacing: var(--letterSpacing-wide);
}

#navbar{
    max-width: 75rem;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
    position: fixed;
    left: 0;
    right: 0;
    transition: 0.3s;
    z-index: 999;
}

.navbar-hidden{
    transform: translateY(calc(-1 * 60px));
}

#navbar a{
    color: var(--main-fcolor);
}

.nav-text ul{
    display: flex;
    flex-direction: row;
}

.nav-text li{
    margin-left: 30px;
    list-style: none;
}

.nav-options{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-title a,
.nav-text a,
.nav-lang a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.nav-text a::after{
    content: "";
    display: block;
    position: absolute;
    left: 0; 
    bottom: -5px;
    right: 0; 
    height: 3px;
    background: var(--navbar-border-bottom);
    width: 0;
    transition: 0.3s;
    pointer-events: none;
}

.nav-text a:hover::after{
    width: 100%;
}

.nav-lang a:last-child{
    display: none;
}

.nav-btn{
    font-size: var(--fontSizes-xl);
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.15s;
}

.nav-btn:hover{
    transform: scale(1.17);
}

.nav-btn svg{
    fill: var(--main-fcolor)
}

.nav-btn svg:last-child{
    display: none;
}

.lightmode .nav-btn svg:first-child{
    display: none;
}

.lightmode .nav-btn svg:last-child{
    display: block;
}
/* */



/***** START - SECTION *****/
#start{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-fcolor);
    background: var(--halfpart-background);
    cursor: default;
    border-bottom: 3px solid var(--section-border-color);
}

.main-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    line-height: var(--lineHeight-tall);
    font-size: var(--fontSizes-4xl);
}

.next-section-port a{
    color: var(--main-fcolor);
    text-decoration: none;
    font-weight: var(--fontWeight-semibold);
    background: var(--main-half-background);
    font-size: var(--fontSizes-xl);
}
/* */



/***** PROJECTS - SECTION *****/
#projects{
    width: 100%;
    min-height: 100vh;
    background: var(--body-background);
}
/* */



/***** ABOUT ME - SECTION *****/
#about{
    width: 100%;
    min-height: 100vh;
    background: var(--body-background);
    border-bottom: 3px solid var(--section-border-color);;
}
/* */



/***** CONTACTS - SECTION *****/
#contact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--secondary-fcolor);
    font-family: var(--heading-ff);
    letter-spacing: var(--letterSpacing-wide);
    font-size: var(--fontSizes-2xl);
    word-spacing: 0.25rem;
}

.contact-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: var(--lineHeight-tall);
}

.contact-heading h1{
    letter-spacing: var(--letterSpacing-wider);
    font-size: 200px;
    font-weight: var(--fontWeight-arnold);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading-container {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}
/* */



/***** FOOTER *****/
.footer-text{
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
    font-weight: var(--fontWeight-medium);
    font-size: var(--fontSizes-s);
    color: var(--main-fcolor);
    background: var(--body-background);
    border-top: 3px solid var(--section-border-color);;
}

.footer-text p{
    margin-top: 7px;
}

.footer-text a{
    color: var(--main-fcolor);
}

.footer-text a:hover,
.footer-text a:active{
    color: var(--footer-fcolor);
}